slide>hgroup>h2{
        border-bottom:solid 2px #12809E;
        text-align:center;
}

.title-slide{
        background-image:url(diamond.png);
        background-repeat:no-repeat;
        background-position:top center;
}

.title-slide>hgroup>h1{
        color:#12809E;
}

slides{
        background-color:#E7EEB9;
}

slide{
        background: rgb(111,74,37);
        background: linear-gradient(90deg, rgba(111,74,37,1) 0%, rgba(226,155,88,1) 35%, rgba(232,191,143,1) 100%);
}